<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type=text/css href="{{url_for('static',filename='styles.css')}}">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<h1>Are you sure you want to delete {{item.name}}?</h1>
		<form action='#' method='POST'>
			<input type='submit', value ='Delete'>
		</form>
		<a href="{{url_for('showRestaurants')}}">Cancel</a>
	</body>
</html>